<img src="images/contactBannerImage.jpg" class="bannerImages" alt="Contact_Banner_Image">
<div class="description">
    <p>You can reach me at given social media accounts, email and phone number. Happy to be connect with you!</p>
    <p>Phone Number: +1-4379295262</p>
    <p>e-mail: jthomas0024@conestogac.on.ca</p>
    <p>Address: 346 Dale Cresent, Waterloo, ON N2J3Y3</p>
    <a href="https://www.facebook.com/jinesh.thomas.792"><img src="images/facebookColor.png" alt="Facebook_Logo" style="width:42px;height:42px;"></a>
    <a href="https://www.instagram.com/jinesh_thomas_"><img src="images/instagramColor.png" alt="Instagram_Logo" style="width:42px;height:42px;"></a>
    <a href="https://www.linkedin.com/in/jinesh-thomas-b8379166"><img src="images/linkedinColor.png" alt="Linkedin_Logo" style="width:42px;height:42px;"></a>
    <a href="https://github.com/jthomas0024/webApp.git"><img src="images/githubColor.png" alt="gitHub_Logo" style="width:42px;height:42px;"></a>
</div>

