<img src="images/contactBannerImage.jpg" class="bannerImages" alt="Contact_Banner_Image">
<div class="description">
    <p>You can reach me at given social media accounts, email and phone number.</p>
    <p>Phone Number: +1-4379295262</p>
    <p>e-mail: jthomas0024@conestogac.on.ca</p>
    <p>Adress: 346 Dale Cresent, Waterloo, ON N2J3Y3</p>
</div>
<a href="https://www.facebook.com/jinesh.thomas.792"><img src="images/facebook_logo.png" alt="Facebook_Logo" style="width:42px;height:42px;"></a>
<a href="https://www.instagram.com/jinesh_thomas_"><img src="images/instagramLogo.png" alt="Instagram_Logo" style="width:42px;height:42px;"></a>
<a href="https://www.linkedin.com/in/jinesh-thomas-b8379166"><img src="images/linkedInImage.png" alt="Linkedin_Logo" style="width:42px;height:42px;"></a>
