<img src="images/contactBannerImage.jpg" class="bannerImages" alt="Contact_Banner_Image">
<p>You can reach me at social media, email and phone number</p>
<p>Phone Number: +1-4379295262</p>
<p>e-mail: jthomas0024@conestogac.on.ca</p>
<p>Adress: 346 Dale Cresent, Waterloo, ON N2J3Y3</p>
