<!--<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>-->
<img src="images/profileImage.jpg" class="centerAlign" alt="Profile_image">
<div class="intro">
  <h1>Hi, </h1>
  <h1>I am Jinesh</h1>
  <h1>Web Developer</h1>
  <p>An enthusiastic web developer possesses skills in all the latest web development technologies and looks forward to contributing to team success through dedication, hard work, and efficient management skills. Specialized in Mobile Solutions Development from Conestoga college, having detailed knowledge regarding Android and ios platforms. I also have experience in all the stages of software development and five years of experience in the field of web development. </p>
</div>