<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href="stylesheets/style.css"/>
    <!-- Yeti Bootstrap Theme from bootswatch -->

    <link rel='stylesheet' href="stylesheets/bootstrap.min.css"/>
  </head>
  
  <body>
   
    <!-- Bootstrap 4 navbar from w3schools https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-sm bg-light bgcol">

  <!-- Links -->
  <ul class="navbar-nav">
     <!-- <a class="nav-brand" href="#">Home</a> -->
    <li class="nav-item">
      <a class="nav-link" href="#">JINESH THOMAS</a>
    <li class="nav-item">
      <a class="nav-link" href="/about">About Me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Projects">Contact</a>
    </li>
  </ul>

</nav>


{{{body}}}
<div class="country">
  <h3>India</h3>
  <h3>America</h3>
  <h3>Africa</h3>
  <h3>Antartica</h3>
</div>
  </body>
</html>
