<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href="stylesheets/style.css"/>
    <!-- Yeti Bootstrap Theme from bootswatch -->

    <link rel='stylesheet' href="stylesheets/bootstrap.min.css"/>
  </head>
  
  <body style="background-color: black;">
   
    <!-- Bootstrap 4 navbar from w3schools https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-sm justify-content-center" style="padding:10px 0px 10px 0px">

  <!-- Links -->
  <ul class="navbar-nav">
     <!-- <a class="nav-brand" href="#">Home</a> -->
    <li class="nav-item">
      <a class="nav-link menufont" href="/" style="color: black;">Home</a>
    <li class="nav-item">
      <a class="nav-link menufont" href="/about" style="color: black;">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link menufont" href="/skills" style="color: black;">Skills</a>
    </li>
    <li class="nav-item menufont">
      <a class="nav-link" href="/myProjects" style="color: black;">Projects</a>
    </li>
    <li class="nav-item menufont">
      <a class="nav-link" href="/contact" style="color: black;">Contact</a>
    </li>
  </ul>
</nav>


{{{body}}}
  </body>
  <footer>
  <p>All rights reserved@Jinesh Thomas</p>
  <p><a href="jthomas0024@conestogac.on.ca">jthomas0024@conestogac.on.ca</a></p>
  <p>Contact: +1-4379295262</p>
  <a href="https://www.facebook.com/jinesh.thomas.792"><img src="images/facebook_logo.png" alt="Facebook_Logo" style="width:42px;height:42px;"></a>
    <a href="https://www.instagram.com/jinesh_thomas_"><img src="images/instagramLogo.png" alt="Instagram_Logo" style="width:42px;height:42px;"></a>
    <a href="https://www.linkedin.com/in/jinesh-thomas-b8379166"><img src="images/linkedInImage.png" alt="Linkedin_Logo" style="width:42px;height:42px;"></a>
    <a href="https://github.com/jthomas0024/webApp.git"><img src="images/githubLogo.png" alt="GitHub_Logo" style="width:42px;height:42px;"></a>
</footer>
</html>
