body {
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

a {
  color: #068526da;
}
.topnav-right {
  float: right;
}

.bgcol{
background-color: blueviolet;
}
.bg{
  background-color:black;
}
.country
{
  background-color: brown;
}