body {
  padding: 0px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #068526da;
}
.navbar-nav{
  float: center;
  align-items: center;
}

.bgcol{
background-color: blueviolet;
}
.bg{
  background-color:black;
}
.country
{
  background-color: brown;
}