body {
  padding:0px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;

}

a {
  color: #068526da;
}

.navbar{
  background-color:#FFA500;
  
}
.nav-item{
color: black;
}
a.newone{
  color: black;
}
.menufont{
  font-size: 20px;
  color: black;
  font-weight:400;
}
footer {
  text-align: center;
  padding: 3px;
  background-color:#ffc14d;
  color: white;
  position:sticky;
  top: 100%;

}

.centerAlign {
  width: 10%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 15px 0px 0px 0px;
}
.intro{
  text-align: center;
  color:#FFA500;
  padding: 0% 10% 0% 10%;
}
.hoverColor{
  color: white;
}
.bannerImages{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 350px;
}
.description{
  text-align: justify;
  color:#FFA500;
  padding: 10% 10% 0% 10%;

}